.container{
margin-top: 12%;
margin-left: 10%;
width: 80vw;
justify-content: center;
align-items: center;
}
.container .red{
    background-color: #da2027;
    border-radius: 5px;
    border: none;
    padding: 10px;
    color: #fff;
    cursor: pointer;
    outline: none;
}
.container .dark-blue{
    background-color: #222e65;
    border-radius: 5px;
    border: none;
    padding: 10px;
    color: #fff;
    cursor: pointer;
    outline: none;
}
.container .green{
    background-color: green;
    border-radius: 5px;
    border: none;
    padding: 10px;
    color: #fff;
    cursor: pointer;
    outline: none;
}
.container .yellow{
    background-color: yellow;
    border-radius: 5px;
    border: none;
    padding: 10px;
    color: #fff;
    cursor: pointer;
    outline: none;
}
.container .title h2{
    font-family: cursive;
}
.container .list{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-column-gap:5px;
    grid-row-gap:10px;
}